.flex{
  display:flex
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between
}
.align-center{
  align-items:center
}
.w-25{
  width:25%
}
.w-50{
  width:50%
}
.w-75{
  width:75%
}
a {
  font-size: 12pt;
}