.films-container{
  width:100%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom:4rem;
}
.films-content-container{
  width:60%;
  flex-direction: column;
  display:flex;
  padding: 2rem;
  background-color:white;
  margin:2rem;
}
.w-100{
  width:100%;
}