.about-container{
  display:flex;
  width:100%;
  justify-content: center;
  flex-wrap:wrap;
  padding-bottom:4rem;
  align-content: flex-start;
  font-family: Raleway-Regular;
}
.content-container{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  width: 60%;
  padding-top:4rem;
  font-family: Raleway-Regular;
}
