.quote-container{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-family: Moon-Light;
  letter-spacing: .1rem;
}
.quote-content{
  margin:12rem;
}