.details-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top: 6rem;
    padding-bottom:4rem;
}
.detail-wrapper{
    display:flex;
    width:960px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.detail{
    padding-top:1rem;
    padding-bottom:1rem;
    font-size:15pt;
}